body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
  }
  
  ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
  }
  
  p,
  h1,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
  }
  
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .header {
    padding-top: 25, 5px;
    padding-bottom: 25, 5px;
    border-bottom: 1px solid #e7e9fc;
  }
  
  .header .container {
    display: flex;
    align-items: center;
  }
  
  .header-navigation {
    display: flex;
    align-items: center;
  }
  
  .header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 166px;
    padding: 24px 0;
  }
  
  .header-con-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
    padding: 24px 0;
  }
  
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
  
    /* line-height: 21px; */
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: flex;
    align-items: center;
  }
  
  .header-logo-iris {
    color: #2e2f42;
  }
  
  .header-menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
  
    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }
  
  .header-con-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
  
    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
  }
  
  .header-con {
    font-style: normal;
  }
  
  .header-menu-link:focus,
  .header-menu-link:hover,
  .header-con-link:focus,
  .header-con-link:hover {
    color: #404bbf;
  }
  

  
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .features-list {
    margin-top: 60px;
    display: flex;
    gap: 24px;
  }
  
  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  
  .features-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
  
    /* line-height: 24px; */
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .features-item-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
  
    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
  }
  

  
  .hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    display: flex;
    flex-direction: column;
  }
  
  .hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    max-width: 496px;
  
    /* line-height: 60px; */
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
  }
  
  .hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
  
    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
  }
  
  .hero .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #404bbf;
  }
  .container-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .text-pad {
    padding: 32px 0;
  }
  
  .box-list {
    display: flex;
    gap: 24px;
  }
  
  .box {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .box-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 72px;
  
    /* line-height: 40px; */
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  
  .box-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
  
    /* line-height: 24px; */
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .box-item-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
  
    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }
  
  .box-item {
    background-color: #ffffff;
    background-origin: 1px;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
  }
  

  .card-text-pad {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  
  .card {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .card-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  
  .card-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
  
    /* line-height: 40px; */
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  
  .card-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
  
    /* line-height: 24px; */
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .card-item-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-top: none;
  
    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
  }

  
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
  
    /* line-height: 21px; */
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }
  
  .footer-logo-iris {
    color: #f4f4fd;
  }
  
  .footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .cloud {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
  
    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }
